<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dataRoot" value="D:/train/MadelineCW/week1/cryptoart/auctionDL/"/>
		<add key="artistData" value="artistsFile.json"/>
		<add key="artData" value="artFile.json"/>
		<add key="bidData" value="bidFile.json"/>
		<add key="collectorData" value="collectorFile.json"/>
		<add key="sellerData" value="sellerFile.json"/>
		<add key="auctionData" value="auctionFile.json"/>
		<add key="dbconnect" value="User ID=wzvzhute;Password=GKLj1EB_Vcb7bzi2_H5IKFwkK5xv1Gp-;Server=ziggy.db.elephantsql.com;Port=5432;Database=wzvzhute;"/>
	</appSettings>
</configuration>